@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
    margin: 5%;
    margin-top: 2%;
}

input::placeholder {
  color: theme("colors.gray.500"); /* Light mode */
}

.dark input::placeholder {
  color: theme("colors.gray.300"); /* Dark mode */
}

html {
  scroll-behavior: smooth;
}



/* Light Mode */
.bg-glass {
    background: rgba(235, 232, 232, 0.141); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 3px solid rgba(26, 24, 24, 0.1); /* Optional border */
  }
  
  .bg-glass:hover {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(15px); 
  }
  
  /* Dark Mode */
  .bg-glass-dark {
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 3px solid rgba(255, 255, 255, 0.1); /* Optional border */
  }
  
    .bg-glass-dark:hover {
    background: rgba(200, 133, 133, 0.455); 
    backdrop-filter: blur(15px); 
  }